name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "./github/CODEOWNERS"
    branches:
      - main

permissions:
  checks: write
  contents: write

env:
  DB_USER: "postgres"
  DB_PASSWORD: "password"
  DB_NAME: "test"

jobs:
  run-ci:
    name: Run Linting and Server Tests
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build App
        run:  npm run build

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          eslint_extensions: "js,jsx,ts,tsx"

      - name: Start Container
        run: docker-compose -f "docker-compose.yml" up -d

      - name: Run Tests
        run: npm run test

      - name: Build App
        run:  npm run build

      - name: Stop Container
        if: always()
        run: docker-compose -f "docker-compose.yml" down
